<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H</key>
	<dict>
		<key>name</key>
		<string>Hydrogen</string>
		<key>atomicNumber</key>
		<integer>1</integer>
		<key>mass</key>
		<real>1.0079</real>
	</dict>
	<key>He</key>
	<dict>
		<key>name</key>
		<string>Helium</string>
		<key>atomicNumber</key>
		<integer>2</integer>
		<key>mass</key>
		<real>4.0026</real>
	</dict>
	<key>Li</key>
	<dict>
		<key>name</key>
		<string>Lithium</string>
		<key>atomicNumber</key>
		<integer>3</integer>
		<key>mass</key>
		<real>6.941</real>
	</dict>
	<key>Be</key>
	<dict>
		<key>name</key>
		<string>Beryllium</string>
		<key>atomicNumber</key>
		<integer>4</integer>
		<key>mass</key>
		<real>9.0122</real>
	</dict>
	<key>B</key>
	<dict>
		<key>name</key>
		<string>Boron</string>
		<key>atomicNumber</key>
		<integer>5</integer>
		<key>mass</key>
		<real>10.811</real>
	</dict>
	<key>C</key>
	<dict>
		<key>name</key>
		<string>Carbon</string>
		<key>atomicNumber</key>
		<integer>6</integer>
		<key>mass</key>
		<real>12.0107</real>
	</dict>
	<key>N</key>
	<dict>
		<key>name</key>
		<string>Nitrogen</string>
		<key>atomicNumber</key>
		<integer>7</integer>
		<key>mass</key>
		<real>14.0067</real>
	</dict>
	<key>O</key>
	<dict>
		<key>name</key>
		<string>Oxygen</string>
		<key>atomicNumber</key>
		<integer>8</integer>
		<key>mass</key>
		<real>15.9994</real>
	</dict>
	<key>F</key>
	<dict>
		<key>name</key>
		<string>Fluorine</string>
		<key>atomicNumber</key>
		<integer>9</integer>
		<key>mass</key>
		<real>18.9984</real>
	</dict>
	<key>Ne</key>
	<dict>
		<key>name</key>
		<string>Neon</string>
		<key>atomicNumber</key>
		<integer>10</integer>
		<key>mass</key>
		<real>20.1797</real>
	</dict>
	<key>Na</key>
	<dict>
		<key>name</key>
		<string>Sodium</string>
		<key>atomicNumber</key>
		<integer>11</integer>
		<key>mass</key>
		<real>22.9897</real>
	</dict>
	<key>Mg</key>
	<dict>
		<key>name</key>
		<string>Magnesium</string>
		<key>atomicNumber</key>
		<integer>12</integer>
		<key>mass</key>
		<real>24.305</real>
	</dict>
	<key>Al</key>
	<dict>
		<key>name</key>
		<string>Aluminum</string>
		<key>atomicNumber</key>
		<integer>13</integer>
		<key>mass</key>
		<real>26.9815</real>
	</dict>
	<key>Si</key>
	<dict>
		<key>name</key>
		<string>Silicon</string>
		<key>atomicNumber</key>
		<integer>14</integer>
		<key>mass</key>
		<real>28.0855</real>
	</dict>
	<key>P</key>
	<dict>
		<key>name</key>
		<string>Phosphorus</string>
		<key>atomicNumber</key>
		<integer>15</integer>
		<key>mass</key>
		<real>30.9738</real>
	</dict>
	<key>S</key>
	<dict>
		<key>name</key>
		<string>Sulfur</string>
		<key>atomicNumber</key>
		<integer>16</integer>
		<key>mass</key>
		<real>32.0649</real>
	</dict>
	<key>Cl</key>
	<dict>
		<key>name</key>
		<string>Chlorine</string>
		<key>atomicNumber</key>
		<integer>17</integer>
		<key>mass</key>
		<real>35.453</real>
	</dict>
	<key>K</key>
	<dict>
		<key>name</key>
		<string>Potassium</string>
		<key>atomicNumber</key>
		<integer>19</integer>
		<key>mass</key>
		<real>39.0983</real>
	</dict>
	<key>Ar</key>
	<dict>
		<key>name</key>
		<string>Argon</string>
		<key>atomicNumber</key>
		<integer>18</integer>
		<key>mass</key>
		<real>39.948</real>
	</dict>
	<key>Ca</key>
	<dict>
		<key>name</key>
		<string>Calcium</string>
		<key>atomicNumber</key>
		<integer>20</integer>
		<key>mass</key>
		<real>40.078</real>
	</dict>
	<key>Sc</key>
	<dict>
		<key>name</key>
		<string>Scandium</string>
		<key>atomicNumber</key>
		<integer>21</integer>
		<key>mass</key>
		<real>44.9559</real>
	</dict>
	<key>Ti</key>
	<dict>
		<key>name</key>
		<string>Titanium</string>
		<key>atomicNumber</key>
		<integer>22</integer>
		<key>mass</key>
		<real>47.8669</real>
	</dict>
	<key>V</key>
	<dict>
		<key>name</key>
		<string>Vanadium</string>
		<key>atomicNumber</key>
		<integer>23</integer>
		<key>mass</key>
		<real>50.9415</real>
	</dict>
	<key>Cr</key>
	<dict>
		<key>name</key>
		<string>Chromium</string>
		<key>atomicNumber</key>
		<integer>24</integer>
		<key>mass</key>
		<real>51.99609</real>
	</dict>
	<key>Mn</key>
	<dict>
		<key>name</key>
		<string>Manganese</string>
		<key>atomicNumber</key>
		<integer>25</integer>
		<key>mass</key>
		<real>54.938</real>
	</dict>
	<key>Fe</key>
	<dict>
		<key>name</key>
		<string>Iron</string>
		<key>atomicNumber</key>
		<integer>26</integer>
		<key>mass</key>
		<real>55.845</real>
	</dict>
	<key>Ni</key>
	<dict>
		<key>name</key>
		<string>Nickel</string>
		<key>atomicNumber</key>
		<integer>28</integer>
		<key>mass</key>
		<real>58.69339</real>
	</dict>
	<key>Co</key>
	<dict>
		<key>name</key>
		<string>Cobalt</string>
		<key>atomicNumber</key>
		<integer>27</integer>
		<key>mass</key>
		<real>58.93319</real>
	</dict>
	<key>Cu</key>
	<dict>
		<key>name</key>
		<string>Copper</string>
		<key>atomicNumber</key>
		<integer>29</integer>
		<key>mass</key>
		<real>63.5459</real>
	</dict>
	<key>Zn</key>
	<dict>
		<key>name</key>
		<string>Zinc</string>
		<key>atomicNumber</key>
		<integer>30</integer>
		<key>mass</key>
		<real>65.39</real>
	</dict>
	<key>Ga</key>
	<dict>
		<key>name</key>
		<string>Gallium</string>
		<key>atomicNumber</key>
		<integer>31</integer>
		<key>mass</key>
		<real>69.723</real>
	</dict>
	<key>Ge</key>
	<dict>
		<key>name</key>
		<string>Germanium</string>
		<key>atomicNumber</key>
		<integer>32</integer>
		<key>mass</key>
		<real>72.64</real>
	</dict>
	<key>As</key>
	<dict>
		<key>name</key>
		<string>Arsenic</string>
		<key>atomicNumber</key>
		<integer>33</integer>
		<key>mass</key>
		<real>74.92159999999998</real>
	</dict>
	<key>Se</key>
	<dict>
		<key>name</key>
		<string>Selenium</string>
		<key>atomicNumber</key>
		<integer>34</integer>
		<key>mass</key>
		<real>78.95999999999999</real>
	</dict>
	<key>Br</key>
	<dict>
		<key>name</key>
		<string>Bromine</string>
		<key>atomicNumber</key>
		<integer>35</integer>
		<key>mass</key>
		<real>79.904</real>
	</dict>
	<key>Kr</key>
	<dict>
		<key>name</key>
		<string>Krypton</string>
		<key>atomicNumber</key>
		<integer>36</integer>
		<key>mass</key>
		<real>83.79999999999998</real>
	</dict>
	<key>Rb</key>
	<dict>
		<key>name</key>
		<string>Rubidium</string>
		<key>atomicNumber</key>
		<integer>37</integer>
		<key>mass</key>
		<real>85.4678</real>
	</dict>
	<key>Sr</key>
	<dict>
		<key>name</key>
		<string>Strontium</string>
		<key>atomicNumber</key>
		<integer>38</integer>
		<key>mass</key>
		<real>87.62</real>
	</dict>
	<key>Y</key>
	<dict>
		<key>name</key>
		<string>Yttrium</string>
		<key>atomicNumber</key>
		<integer>39</integer>
		<key>mass</key>
		<real>88.9059</real>
	</dict>
	<key>Zr</key>
	<dict>
		<key>name</key>
		<string>Zirconium</string>
		<key>atomicNumber</key>
		<integer>40</integer>
		<key>mass</key>
		<real>91.224</real>
	</dict>
	<key>Nb</key>
	<dict>
		<key>name</key>
		<string>Niobium</string>
		<key>atomicNumber</key>
		<integer>41</integer>
		<key>mass</key>
		<real>92.9064</real>
	</dict>
	<key>Mo</key>
	<dict>
		<key>name</key>
		<string>Molybdenum</string>
		<key>atomicNumber</key>
		<integer>42</integer>
		<key>mass</key>
		<real>95.93899999999999</real>
	</dict>
	<key>Tc</key>
	<dict>
		<key>name</key>
		<string>Technetium</string>
		<key>atomicNumber</key>
		<integer>43</integer>
		<key>mass</key>
		<real>98</real>
	</dict>
	<key>Ru</key>
	<dict>
		<key>name</key>
		<string>Ruthenium</string>
		<key>atomicNumber</key>
		<integer>44</integer>
		<key>mass</key>
		<real>101.07</real>
	</dict>
	<key>Rh</key>
	<dict>
		<key>name</key>
		<string>Rhodium</string>
		<key>atomicNumber</key>
		<integer>45</integer>
		<key>mass</key>
		<real>102.9055</real>
	</dict>
	<key>Pd</key>
	<dict>
		<key>name</key>
		<string>Palladium</string>
		<key>atomicNumber</key>
		<integer>46</integer>
		<key>mass</key>
		<real>106.42</real>
	</dict>
	<key>Ag</key>
	<dict>
		<key>name</key>
		<string>Silver</string>
		<key>atomicNumber</key>
		<integer>47</integer>
		<key>mass</key>
		<real>107.8682</real>
	</dict>
	<key>Cd</key>
	<dict>
		<key>name</key>
		<string>Cadmium</string>
		<key>atomicNumber</key>
		<integer>48</integer>
		<key>mass</key>
		<real>112.411</real>
	</dict>
	<key>In</key>
	<dict>
		<key>name</key>
		<string>Indium</string>
		<key>atomicNumber</key>
		<integer>49</integer>
		<key>mass</key>
		<real>114.818</real>
	</dict>
	<key>Sn</key>
	<dict>
		<key>name</key>
		<string>Tin</string>
		<key>atomicNumber</key>
		<integer>50</integer>
		<key>mass</key>
		<real>118.71</real>
	</dict>
	<key>Sb</key>
	<dict>
		<key>name</key>
		<string>Antimony</string>
		<key>atomicNumber</key>
		<integer>51</integer>
		<key>mass</key>
		<real>121.76</real>
	</dict>
	<key>I</key>
	<dict>
		<key>name</key>
		<string>Iodine</string>
		<key>atomicNumber</key>
		<integer>53</integer>
		<key>mass</key>
		<real>126.9045</real>
	</dict>
	<key>Te</key>
	<dict>
		<key>name</key>
		<string>Tellurium</string>
		<key>atomicNumber</key>
		<integer>52</integer>
		<key>mass</key>
		<real>127.6</real>
	</dict>
	<key>Xe</key>
	<dict>
		<key>name</key>
		<string>Xenon</string>
		<key>atomicNumber</key>
		<integer>54</integer>
		<key>mass</key>
		<real>131.293</real>
	</dict>
	<key>Cs</key>
	<dict>
		<key>name</key>
		<string>Cesium</string>
		<key>atomicNumber</key>
		<integer>55</integer>
		<key>mass</key>
		<real>132.9055</real>
	</dict>
	<key>Ba</key>
	<dict>
		<key>name</key>
		<string>Barium</string>
		<key>atomicNumber</key>
		<integer>56</integer>
		<key>mass</key>
		<real>137.327</real>
	</dict>
	<key>La</key>
	<dict>
		<key>name</key>
		<string>Lanthanum</string>
		<key>atomicNumber</key>
		<integer>57</integer>
		<key>mass</key>
		<real>138.9055</real>
	</dict>
	<key>Ce</key>
	<dict>
		<key>name</key>
		<string>Cerium</string>
		<key>atomicNumber</key>
		<integer>58</integer>
		<key>mass</key>
		<real>140.116</real>
	</dict>
	<key>Pr</key>
	<dict>
		<key>name</key>
		<string>Praseodymium</string>
		<key>atomicNumber</key>
		<integer>59</integer>
		<key>mass</key>
		<real>140.9077</real>
	</dict>
	<key>Nd</key>
	<dict>
		<key>name</key>
		<string>Neodymium</string>
		<key>atomicNumber</key>
		<integer>60</integer>
		<key>mass</key>
		<real>144.24</real>
	</dict>
	<key>Pm</key>
	<dict>
		<key>name</key>
		<string>Promethium</string>
		<key>atomicNumber</key>
		<integer>61</integer>
		<key>mass</key>
		<real>145</real>
	</dict>
	<key>Sm</key>
	<dict>
		<key>name</key>
		<string>Samarium</string>
		<key>atomicNumber</key>
		<integer>62</integer>
		<key>mass</key>
		<real>150.36</real>
	</dict>
	<key>Eu</key>
	<dict>
		<key>name</key>
		<string>Europium</string>
		<key>atomicNumber</key>
		<integer>63</integer>
		<key>mass</key>
		<real>151.964</real>
	</dict>
	<key>Gd</key>
	<dict>
		<key>name</key>
		<string>Gadolinium</string>
		<key>atomicNumber</key>
		<integer>64</integer>
		<key>mass</key>
		<real>157.25</real>
	</dict>
	<key>Tb</key>
	<dict>
		<key>name</key>
		<string>Terbium</string>
		<key>atomicNumber</key>
		<integer>65</integer>
		<key>mass</key>
		<real>158.9253</real>
	</dict>
	<key>Dy</key>
	<dict>
		<key>name</key>
		<string>Dysprosium</string>
		<key>atomicNumber</key>
		<integer>66</integer>
		<key>mass</key>
		<real>162.5</real>
	</dict>
	<key>Ho</key>
	<dict>
		<key>name</key>
		<string>Holmium</string>
		<key>atomicNumber</key>
		<integer>67</integer>
		<key>mass</key>
		<real>164.9303</real>
	</dict>
	<key>Er</key>
	<dict>
		<key>name</key>
		<string>Erbium</string>
		<key>atomicNumber</key>
		<integer>68</integer>
		<key>mass</key>
		<real>167.259</real>
	</dict>
	<key>Tm</key>
	<dict>
		<key>name</key>
		<string>Thulium</string>
		<key>atomicNumber</key>
		<integer>69</integer>
		<key>mass</key>
		<real>168.9342</real>
	</dict>
	<key>Yb</key>
	<dict>
		<key>name</key>
		<string>Ytterbium</string>
		<key>atomicNumber</key>
		<integer>70</integer>
		<key>mass</key>
		<real>173.04</real>
	</dict>
	<key>Lu</key>
	<dict>
		<key>name</key>
		<string>Lutetium</string>
		<key>atomicNumber</key>
		<integer>71</integer>
		<key>mass</key>
		<real>174.967</real>
	</dict>
	<key>Hf</key>
	<dict>
		<key>name</key>
		<string>Hafnium</string>
		<key>atomicNumber</key>
		<integer>72</integer>
		<key>mass</key>
		<real>178.49</real>
	</dict>
	<key>Ta</key>
	<dict>
		<key>name</key>
		<string>Tantalum</string>
		<key>atomicNumber</key>
		<integer>73</integer>
		<key>mass</key>
		<real>180.9479</real>
	</dict>
	<key>W</key>
	<dict>
		<key>name</key>
		<string>Tungsten</string>
		<key>atomicNumber</key>
		<integer>74</integer>
		<key>mass</key>
		<real>183.84</real>
	</dict>
	<key>Re</key>
	<dict>
		<key>name</key>
		<string>Rhenium</string>
		<key>atomicNumber</key>
		<integer>75</integer>
		<key>mass</key>
		<real>186.207</real>
	</dict>
	<key>Os</key>
	<dict>
		<key>name</key>
		<string>Osmium</string>
		<key>atomicNumber</key>
		<integer>76</integer>
		<key>mass</key>
		<real>190.23</real>
	</dict>
	<key>Ir</key>
	<dict>
		<key>name</key>
		<string>Iridium</string>
		<key>atomicNumber</key>
		<integer>77</integer>
		<key>mass</key>
		<real>192.217</real>
	</dict>
	<key>Pt</key>
	<dict>
		<key>name</key>
		<string>Platinum</string>
		<key>atomicNumber</key>
		<integer>78</integer>
		<key>mass</key>
		<real>195.078</real>
	</dict>
	<key>Au</key>
	<dict>
		<key>name</key>
		<string>Gold</string>
		<key>atomicNumber</key>
		<integer>79</integer>
		<key>mass</key>
		<real>196.9665</real>
	</dict>
	<key>Hg</key>
	<dict>
		<key>name</key>
		<string>Mercury</string>
		<key>atomicNumber</key>
		<integer>80</integer>
		<key>mass</key>
		<real>200.59</real>
	</dict>
	<key>Tl</key>
	<dict>
		<key>name</key>
		<string>Thallium</string>
		<key>atomicNumber</key>
		<integer>81</integer>
		<key>mass</key>
		<real>204.3833</real>
	</dict>
	<key>Pb</key>
	<dict>
		<key>name</key>
		<string>Lead</string>
		<key>atomicNumber</key>
		<integer>82</integer>
		<key>mass</key>
		<real>207.2</real>
	</dict>
	<key>Bi</key>
	<dict>
		<key>name</key>
		<string>Bismuth</string>
		<key>atomicNumber</key>
		<integer>83</integer>
		<key>mass</key>
		<real>208.9804</real>
	</dict>
	<key>Po</key>
	<dict>
		<key>name</key>
		<string>Polonium</string>
		<key>atomicNumber</key>
		<integer>84</integer>
		<key>mass</key>
		<real>209</real>
	</dict>
	<key>At</key>
	<dict>
		<key>name</key>
		<string>Astatine</string>
		<key>atomicNumber</key>
		<integer>85</integer>
		<key>mass</key>
		<real>210</real>
	</dict>
	<key>Rn</key>
	<dict>
		<key>name</key>
		<string>Radon</string>
		<key>atomicNumber</key>
		<integer>86</integer>
		<key>mass</key>
		<real>222</real>
	</dict>
	<key>Fr</key>
	<dict>
		<key>name</key>
		<string>Francium</string>
		<key>atomicNumber</key>
		<integer>87</integer>
		<key>mass</key>
		<real>223</real>
	</dict>
	<key>Ra</key>
	<dict>
		<key>name</key>
		<string>Radium</string>
		<key>atomicNumber</key>
		<integer>88</integer>
		<key>mass</key>
		<real>226.02</real>
	</dict>
	<key>Ac</key>
	<dict>
		<key>name</key>
		<string>Actinium</string>
		<key>atomicNumber</key>
		<integer>89</integer>
		<key>mass</key>
		<real>227.03</real>
	</dict>
	<key>Th</key>
	<dict>
		<key>name</key>
		<string>Thorium</string>
		<key>atomicNumber</key>
		<integer>90</integer>
		<key>mass</key>
		<real>232.0381</real>
	</dict>
	<key>Pa</key>
	<dict>
		<key>name</key>
		<string>Protactinium</string>
		<key>atomicNumber</key>
		<integer>91</integer>
		<key>mass</key>
		<real>231.0359</real>
	</dict>
	<key>U</key>
	<dict>
		<key>name</key>
		<string>Uranium</string>
		<key>atomicNumber</key>
		<integer>92</integer>
		<key>mass</key>
		<real>238.0289</real>
	</dict>
	<key>Np</key>
	<dict>
		<key>name</key>
		<string>Neptunium</string>
		<key>atomicNumber</key>
		<integer>93</integer>
		<key>mass</key>
		<real>237.05</real>
	</dict>
	<key>Pu</key>
	<dict>
		<key>name</key>
		<string>Plutonium</string>
		<key>atomicNumber</key>
		<integer>94</integer>
		<key>mass</key>
		<real>244.06</real>
	</dict>
	<key>Am</key>
	<dict>
		<key>name</key>
		<string>Americium</string>
		<key>atomicNumber</key>
		<integer>95</integer>
		<key>mass</key>
		<real>243.06</real>
	</dict>
	<key>Cm</key>
	<dict>
		<key>name</key>
		<string>Curium</string>
		<key>atomicNumber</key>
		<integer>96</integer>
		<key>mass</key>
		<real>247.07</real>
	</dict>
	<key>Bk</key>
	<dict>
		<key>name</key>
		<string>Berkelium</string>
		<key>atomicNumber</key>
		<integer>97</integer>
		<key>mass</key>
		<real>247.07</real>
	</dict>
	<key>Cf</key>
	<dict>
		<key>name</key>
		<string>Californium</string>
		<key>atomicNumber</key>
		<integer>98</integer>
		<key>mass</key>
		<real>251.08</real>
	</dict>
	<key>Es</key>
	<dict>
		<key>name</key>
		<string>Einsteinium</string>
		<key>atomicNumber</key>
		<integer>99</integer>
		<key>mass</key>
		<real>252.08</real>
	</dict>
	<key>Fm</key>
	<dict>
		<key>name</key>
		<string>Fermium</string>
		<key>atomicNumber</key>
		<integer>100</integer>
		<key>mass</key>
		<real>257.1</real>
	</dict>
	<key>Md</key>
	<dict>
		<key>name</key>
		<string>Mendelevium</string>
		<key>atomicNumber</key>
		<integer>101</integer>
		<key>mass</key>
		<real>258.1</real>
	</dict>
	<key>No</key>
	<dict>
		<key>name</key>
		<string>Nobelium</string>
		<key>atomicNumber</key>
		<integer>102</integer>
		<key>mass</key>
		<real>259.1</real>
	</dict>
	<key>Lr</key>
	<dict>
		<key>name</key>
		<string>Lawrencium</string>
		<key>atomicNumber</key>
		<integer>103</integer>
		<key>mass</key>
		<real>262.11</real>
	</dict>
	<key>Rf</key>
	<dict>
		<key>name</key>
		<string>Rutherfordium</string>
		<key>atomicNumber</key>
		<integer>104</integer>
		<key>mass</key>
		<real>265.12</real>
	</dict>
	<key>Db</key>
	<dict>
		<key>name</key>
		<string>Dubnium</string>
		<key>atomicNumber</key>
		<integer>105</integer>
		<key>mass</key>
		<real>268.13</real>
	</dict>
	<key>Sg</key>
	<dict>
		<key>name</key>
		<string>Seaborgium</string>
		<key>atomicNumber</key>
		<integer>106</integer>
		<key>mass</key>
		<real>271.13</real>
	</dict>
	<key>Bh</key>
	<dict>
		<key>name</key>
		<string>Bohrium</string>
		<key>atomicNumber</key>
		<integer>107</integer>
		<key>mass</key>
		<integer>270</integer>
	</dict>
	<key>Hs</key>
	<dict>
		<key>name</key>
		<string>Hassium</string>
		<key>atomicNumber</key>
		<integer>108</integer>
		<key>mass</key>
		<real>277.15</real>
	</dict>
	<key>Mt</key>
	<dict>
		<key>name</key>
		<string>Meitnerium</string>
		<key>atomicNumber</key>
		<integer>109</integer>
		<key>mass</key>
		<real>276.15</real>
	</dict>
	<key>Ds</key>
	<dict>
		<key>name</key>
		<string>Darmstadtium</string>
		<key>atomicNumber</key>
		<integer>110</integer>
		<key>mass</key>
		<real>281.16</real>
	</dict>
	<key>Rg</key>
	<dict>
		<key>name</key>
		<string>Roentgenium</string>
		<key>atomicNumber</key>
		<integer>111</integer>
		<key>mass</key>
		<real>280.16</real>
	</dict>
	<key>Cn</key>
	<dict>
		<key>name</key>
		<string>Copernicium</string>
		<key>atomicNumber</key>
		<integer>112</integer>
		<key>mass</key>
		<real>285.17</real>
	</dict>
	<key>Uut</key>
	<dict>
		<key>name</key>
		<string>Ununtrium</string>
		<key>atomicNumber</key>
		<integer>113</integer>
		<key>mass</key>
		<real>284.18</real>
	</dict>
	<key>Fl</key>
	<dict>
		<key>name</key>
		<string>Flerovium</string>
		<key>atomicNumber</key>
		<integer>114</integer>
		<key>mass</key>
		<real>289.19</real>
	</dict>
	<key>Uup</key>
	<dict>
		<key>name</key>
		<string>Ununpentium</string>
		<key>atomicNumber</key>
		<integer>115</integer>
		<key>mass</key>
		<real>288.19</real>
	</dict>
	<key>Lv</key>
	<dict>
		<key>name</key>
		<string>Livermorium</string>
		<key>atomicNumber</key>
		<integer>116</integer>
		<key>mass</key>
		<integer>293</integer>
	</dict>
	<key>Uus</key>
	<dict>
		<key>name</key>
		<string>Ununseptium</string>
		<key>atomicNumber</key>
		<integer>117</integer>
		<key>mass</key>
		<integer>294</integer>
	</dict>
	<key>Uuo</key>
	<dict>
		<key>name</key>
		<string>Ununoctium</string>
		<key>atomicNumber</key>
		<integer>118</integer>
		<key>mass</key>
		<integer>294</integer>
	</dict>
</dict>
</plist>
