<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaBr</key>
	<dict>
		<key>compoundName</key>
		<string>BrBa</string>
		<key>name</key>
		<string>Breaking Bad</string>
		<key>charge</key>
		<string>0</string>
	</dict>
	<key>CN</key>
	<dict>
		<key>compoundName</key>
		<string>CN</string>
		<key>name</key>
		<string>Cyanide</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>C6H12O6</key>
	<dict>
		<key>compoundName</key>
		<string>C6H12O6</string>
		<key>name</key>
		<string>Glucose</string>
		<key>charge</key>
		<string>0</string>
	</dict>
	<key>H2O</key>
	<dict>
		<key>compoundName</key>
		<string>HOH</string>
		<key>name</key>
		<string>Water</string>
		<key>charge</key>
		<string>0</string>
	</dict>
	<key>C2H3O2</key>
	<dict>
		<key>compoundName</key>
		<string>CH3COO</string>
		<key>name</key>
		<string>Acetate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>CrO2</key>
	<dict>
		<key>compoundName</key>
		<string>CrO2</string>
		<key>name</key>
		<string>Chromite</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>CrO4</key>
	<dict>
		<key>compoundName</key>
		<string>CrO4</string>
		<key>name</key>
		<string>Chromate</string>
		<key>charge</key>
		<string>2-</string>
	</dict>
	<key>AsO4</key>
	<dict>
		<key>compoundName</key>
		<string>AsO4</string>
		<key>name</key>
		<string>Arsenate</string>
		<key>charge</key>
		<string>3-</string>
	</dict>
	<key>AsO3</key>
	<dict>
		<key>compoundName</key>
		<string>AsO3</string>
		<key>name</key>
		<string>Arsenite</string>
		<key>charge</key>
		<string>3-</string>
	</dict>
	<key>Cr2O7</key>
	<dict>
		<key>compoundName</key>
		<string>Cr2O7</string>
		<key>name</key>
		<string>Dichromate</string>
		<key>charge</key>
		<string>2-</string>
	</dict>
	<key>O3S2</key>
	<dict>
		<key>compoundName</key>
		<string>S2O3</string>
		<key>name</key>
		<string>Thiosulfate</string>
		<key>charge</key>
		<string>2-</string>
	</dict>
	<key>CO3</key>
	<dict>
		<key>compoundName</key>
		<string>CO3</string>
		<key>name</key>
		<string>Carbonate</string>
		<key>charge</key>
		<string>2-</string>
	</dict>
	<key>MnO4</key>
	<dict>
		<key>compoundName</key>
		<string>MnO4</string>
		<key>name</key>
		<string>Permanganate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>IO4</key>
	<dict>
		<key>compoundName</key>
		<string>IO4</string>
		<key>name</key>
		<string>Periodate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>IO3</key>
	<dict>
		<key>compoundName</key>
		<string>IO3</string>
		<key>name</key>
		<string>Iodate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>IO2</key>
	<dict>
		<key>compoundName</key>
		<string>IO2</string>
		<key>name</key>
		<string>Iodite</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>IO</key>
	<dict>
		<key>compoundName</key>
		<string>IO</string>
		<key>name</key>
		<string>Hypoiodite</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>BrO4</key>
	<dict>
		<key>compoundName</key>
		<string>BrO4</string>
		<key>name</key>
		<string>Perbromate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>BrO3</key>
	<dict>
		<key>compoundName</key>
		<string>BrO3</string>
		<key>name</key>
		<string>Bromate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>BrO2</key>
	<dict>
		<key>compoundName</key>
		<string>BrO2</string>
		<key>name</key>
		<string>Bromite</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>BrO</key>
	<dict>
		<key>compoundName</key>
		<string>BrO</string>
		<key>name</key>
		<string>Hypobromite</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>ClO4</key>
	<dict>
		<key>compoundName</key>
		<string>ClO4</string>
		<key>name</key>
		<string>Perchlorate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>ClO3</key>
	<dict>
		<key>compoundName</key>
		<string>ClO3</string>
		<key>name</key>
		<string>Chlorate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>ClO2</key>
	<dict>
		<key>compoundName</key>
		<string>ClO2</string>
		<key>name</key>
		<string>Chlorite</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>ClO</key>
	<dict>
		<key>compoundName</key>
		<string>ClO</string>
		<key>name</key>
		<string>Hypochlorite</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>H3O</key>
	<dict>
		<key>compoundName</key>
		<string>H3O</string>
		<key>name</key>
		<string>Hydronium</string>
		<key>charge</key>
		<string>1+</string>
	</dict>
	<key>CNO</key>
	<dict>
		<key>compoundName</key>
		<string>CNO</string>
		<key>name</key>
		<string>Cyanate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>NO3</key>
	<dict>
		<key>compoundName</key>
		<string>NO3</string>
		<key>name</key>
		<string>Nitrate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>NO2</key>
	<dict>
		<key>compoundName</key>
		<string>NO2</string>
		<key>name</key>
		<string>Nitrite</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>CHO3</key>
	<dict>
		<key>compoundName</key>
		<string>HCO3</string>
		<key>name</key>
		<string>Hydrogen Carbonate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>H2O4P</key>
	<dict>
		<key>compoundName</key>
		<string>H2PO4</string>
		<key>name</key>
		<string>Diydrogen Phosphate</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>H2O3P</key>
	<dict>
		<key>compoundName</key>
		<string>H2PO3</string>
		<key>name</key>
		<string>Dihydrogen Phosphite</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>HO3P</key>
	<dict>
		<key>compoundName</key>
		<string>HPO3</string>
		<key>name</key>
		<string>Hydrogen Phosphite</string>
		<key>charge</key>
		<string>2-</string>
	</dict>
	<key>HO4P</key>
	<dict>
		<key>compoundName</key>
		<string>HPO4</string>
		<key>name</key>
		<string>Hydrogen Phosphate</string>
		<key>charge</key>
		<string>2-</string>
	</dict>
	<key>O2P</key>
	<dict>
		<key>compoundName</key>
		<string>PO2</string>
		<key>name</key>
		<string>Hydrophosphite</string>
		<key>charge</key>
		<string>3-</string>
	</dict>
	<key>O3P</key>
	<dict>
		<key>compoundName</key>
		<string>PO3</string>
		<key>name</key>
		<string>Phosphite</string>
		<key>charge</key>
		<string>3-</string>
	</dict>
	<key>O4P</key>
	<dict>
		<key>compoundName</key>
		<string>PO4</string>
		<key>name</key>
		<string>Phosphate</string>
		<key>charge</key>
		<string>3-</string>
	</dict>
	<key>HO</key>
	<dict>
		<key>compoundName</key>
		<string>OH</string>
		<key>name</key>
		<string>Hydroxide</string>
		<key>charge</key>
		<string>1-</string>
	</dict>
	<key>HO3S</key>
	<dict>
		<key>compoundName</key>
		<string>HSO3</string>
		<key>name</key>
		<string>Hydrogen Sulfite</string>
		<key>charge</key>
		<string>2-</string>
	</dict>
	<key>HO4S</key>
	<dict>
		<key>compoundName</key>
		<string>HSO4</string>
		<key>name</key>
		<string>Hydrogen Sulfate</string>
		<key>charge</key>
		<string>2-</string>
	</dict>
	<key>O4S</key>
	<dict>
		<key>compoundName</key>
		<string>SO4</string>
		<key>name</key>
		<string>Sulfate</string>
		<key>charge</key>
		<string>2-</string>
	</dict>
	<key>O3S</key>
	<dict>
		<key>compoundName</key>
		<string>SO3</string>
		<key>name</key>
		<string>Sulfite</string>
		<key>charge</key>
		<string>2-</string>
	</dict>
	<key>H4N</key>
	<dict>
		<key>compoundName</key>
		<string>NH4</string>
		<key>name</key>
		<string>Ammonium</string>
		<key>charge</key>
		<string>1+</string>
	</dict>
	<key>BrK</key>
	<dict>
		<key>compoundName</key>
		<string>KBr</string>
		<key>name</key>
		<string></string>
		<key>charge</key>
		<string>0</string>
	</dict>
	<key>Br2Ca</key>
	<dict>
		<key>compoundName</key>
		<string>CaBr2</string>
		<key>name</key>
		<string></string>
		<key>charge</key>
		<string>0</string>
	</dict>
	<key>BrNa</key>
	<dict>
		<key>compoundName</key>
		<string>NaBr</string>
		<key>name</key>
		<string>Sodium Bromide</string>
		<key>charge</key>
		<string>0</string>
	</dict>
	<key>ClMg</key>
	<dict>
		<key>compoundName</key>
		<string>MgCl</string>
		<key>name</key>
		<string></string>
		<key>charge</key>
		<string>0</string>
	</dict>
	<key>ClNa</key>
	<dict>
		<key>compoundName</key>
		<string>NaCl</string>
		<key>name</key>
		<string>salt</string>
		<key>charge</key>
		<string>0</string>
	</dict>
</dict>
</plist>
